html{
  scroll-behavior:smooth;
}
.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  background-color:rgba(0,0,0,1);
}
ul{
  list-style-type: none;
}
.navbar > ul >li{
  display: inline;
  position:relative;
  left: 800px;
  margin-top: 5px;
  padding-left:20px;
}
.navbar ul > li > a{
  text-decoration: none;
  color: #ffffff;
}
.navbar > ul > li > a:hover{
  color: #59d4e8;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 620px;
}
.landing{
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/spring-276014_960_720.jpg");
}
.about-text, .contact-text{
  font-size: 60px;
  margin-top: 20px;
  /* background-color: #e9ecef; */
}
.hobbies h1{
  font-size: 60px;
}
#rita{
  font-size: 100px;
  padding-top: 40px;
}
#profile{
  height: 300px;
  weight: 600px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #63707e;
}
#about{
  display: flex;
}
.right{
  margin-left:150px;
}
.form-group, .btn{
  margin-left: 20px;
  width: 400px;
}
.hobbies >ol >li{
  font-size: 20px;
}
footer{
  background-color: #63707e;
  text-align: center;
  height: 30px;
  margin-top: 50px;
  color: #ffffff;
}
#color{
  color:#ffa323;
}
.square{
  display: flex;
  justify-content: space-around;
}
.card{
  width: 400px;
  height: 300px;
}
.card-body{
  background-image: url('https://cdn.pixabay.com/photo/2014/02/27/16/10/spring-276014_960_720.jpg');
}
#myprojects{
  margin-top: 20px;
  font-size: 60px;
}
